* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  cursor: pointer;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #f4f4f4;
}
header .banner {
  height: 70px;
  background-color: #f4f4f4;
}
header .banner img {
  display: block;
  margin: 0 auto;
}
header .searchTop {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
header .searchTop .logo {
  width: 20%;
  height: 100%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  width: 45%;
  height: 50%;
  border: 2px solid #5055b1;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}
.search #searchBox {
  width: 20%;
  height: 100%;
  border-radius: 50px 0 0 50px;
  border: none;
  padding-left: 10px;
}
.search #searchBar {
  width: 70%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}
.search .searchImg a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url(../img/search_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}
.login .loginBar {
  width: 100%;
  height: 50%;
}
.login .loginBar .logT {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
  font-size: 13px;
}
.login .loginIcon {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  height: 50%;
  margin: 2% 0;
}
.login .loginIcon .cart a {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/cart.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login .loginIcon .loginG {
  margin: 0 5%;
}
.login .loginIcon .loginG a {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/id.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  align-content: center;
}
.nav .navIcon {
  width: 43px;
  height: 41px;
  margin: 2% 0;
  background-image: url(../img/open.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav .navBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.nav .navBar li {
  margin: 2% 1%;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.5s;
}
.nav .navBar li:nth-child(1) a {
  color: #6DB329;
}
.nav .navBar li:nth-child(2) a {
  color: #6DB329;
}
.nav .navBar li:hover {
  opacity: 0.5;
}

footer {
  height: 620px;
}
footer .notice {
  height: 70px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
footer .notice .container {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
footer .notice .container .noticeBar {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  align-items: center;
  justify-content: space-between;
}
footer .notice .container .noticeBar:nth-child(1)::after {
  content: "|";
  display: inline-block;
  color: #999;
}
footer .notice .container .noticeBar p {
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
footer .notice .container .noticeBar b a {
  transition: all 0.5s;
}
footer .notice .container .noticeBar b a:hover {
  opacity: 0.5;
}

.noticeMenu {
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
}
.noticeMenu .container {
  display: flex;
  height: 100%;
  padding: 50px 0;
}
.noticeMenu .container .groupBox {
  width: 23%;
  height: 100%;
  padding: 0 30px;
  border-left: 1px solid #ddd;
}
.noticeMenu .container .groupBox:nth-of-type(1) {
  border: none;
}
.noticeMenu .container .groupBox b {
  line-height: 40px;
  font-weight: bold;
  transition: all 0.5s;
}
.noticeMenu .container .groupBox b:hover {
  opacity: 0.5;
}
.noticeMenu .container .groupBox .groupList a {
  font-size: 13px;
  line-height: 25px;
}
.noticeMenu .container .groupBox .groupList a:hover {
  text-decoration: underline;
}

.footerIcon {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.footerIcon .footerImg {
  width: 151px;
  height: 60px;
  background-image: url(../img/footerLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footerIcon .selectBox {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}
.footerIcon .selectBox #familysite {
  padding: 3% 5%;
  border-radius: 20px;
  border: none;
  background-color: #f4f4f4;
}
.footerIcon .selectBox .sns {
  width: 30px;
  height: 30px;
}
.footerIcon .selectBox .sns:nth-child(2) {
  background-image: url(../img/youtube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footerIcon .selectBox .sns:nth-child(3) {
  background-image: url(../img/fb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footerIcon .selectBox .sns:nth-child(4) {
  background-image: url(../img/insta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footerIcon .selectBox .sns a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.detailWrap {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #777;
  height: 150px;
}
.detailWrap button {
  background-color: transparent;
  border: 1px solid #333;
  padding: 1px 2px;
  border-radius: 5px;
  font-size: 11px;
}
.detailWrap .footerDetail {
  width: 65%;
  margin-right: 2%;
}
.detailWrap .footerDetail .dash {
  font-size: 11px;
}
.detailWrap .footerDetail .footerNav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.detailWrap .footerDetail .footerNav b {
  text-decoration: underline;
}
.detailWrap .footerDetail .footerDetail {
  width: 100%;
  margin: 1% 0;
}
.detailWrap .footerDetail .footerDetail span {
  line-height: 30px;
}
.detailWrap .footerToss {
  width: 33%;
  font-size: 12px;
  line-height: 20px;
}
.detailWrap .footerToss .tossImg {
  display: flex;
  justify-content: space-between;
}
.detailWrap .footerToss .tossImg img {
  width: 50px;
  height: 40px;
}
.detailWrap .footerToss .tossImg span:nth-child(2) {
  width: 23%;
}
.detailWrap .footerToss .tossImg span:nth-child(3) {
  width: 60%;
}