#slider {
  width: 1903px;
  margin: 0 auto;
  height: 615px;
  position: relative;
}
#slider .slideText {
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 165px;
}
#slider .slideText li {
  position: absolute;
}
#slider .slideText li:not(:nth-child(1)) {
  display: none;
}
#slider .slideText li p {
  font-size: 40px;
  font-weight: bold;
  padding-left: 50px;
}

.sPopup {
  position: absolute;
  top: 50px;
  right: 320px;
  width: 260px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px 0 20px 20px;
  z-index: 5;
}
.sPopup img {
  width: 100%;
  height: 200px;
}
.sPopup .popText {
  background-color: #fff;
  height: 100px;
  padding: 10px 14px;
  margin-top: -5px;
}
.sPopup .popText span {
  color: #5055b1;
  font-size: 14px;
  font-weight: 600;
}
.sPopup .popText p {
  font-size: 15px;
  font-weight: bold;
}
.sPopup .popText small {
  color: #555;
  line-height: 30px;
}

.slideImg {
  position: relative;
  height: 450px;
}
.slideImg ul li {
  position: absolute;
  right: 0;
}
.slideImg ul li:not(:nth-child(1)) {
  display: none;
}

.slideBar {
  position: absolute;
  bottom: 0;
  height: 70px;
  background-color: rgba(249, 249, 249, 0.8);
  right: 0;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  justify-content: flex-start;
}
.slideBar ul {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  justify-content: space-evenly;
  height: 70px;
}
.slideBar ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aUnderline {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

.controlBox {
  display: flex;
  flex-wrap: wrap;
  width: 12%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ddd;
}
.controlBox div {
  width: 15px;
  height: 15px;
  margin: 0 8%;
  cursor: pointer;
  border-top: 3px solid #999;
  border-left: 3px solid #999;
}
.controlBox div:nth-child(1) {
  transform: rotate(-45deg);
}
.controlBox div:nth-child(2) {
  transform: rotate(135deg);
}

#content1 {
  height: 150px;
}
#content1 .contentBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
#content1 .contentBar li {
  width: 7%;
}
#content1 .contentBar li a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

#content2 {
  height: 600px;
}
#content2 .container {
  position: relative;
}

.titleBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  height: 70px;
}
.titleBox .categoryList {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  align-items: flex-end;
  justify-content: space-between;
}
.titleBox .categoryList a {
  position: relative;
  transition: all 0.5s;
}
.titleBox span {
  width: 35%;
  text-align: right;
  font-weight: bold;
}
.titleBox span::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 5px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.titleBox span:hover {
  text-decoration: underline;
}

.titleFont {
  color: #5055b1;
  font-weight: bold;
}
.titleFont::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #6DB329;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  border-radius: 50%;
}

.bookList2 {
  height: 530px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.bookList2:not(:nth-child(2)) {
  display: none;
}
.bookList2 .bookDetail {
  width: 50%;
  height: 400px;
  position: relative;
}
.bookList2 .bookDetail .todayBook {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.bookList2 .bookDetail .todayBook:not(:nth-child(1)) {
  display: none;
}
.bookList2 .bookDetail .todayBook a {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.bookList2 .bookDetail .todayBook a img {
  width: 75%;
  height: 80%;
  box-shadow: 10px 10px 15px #999;
}
.bookList2 .bookDetail .todayBook .textbox {
  width: 50%;
}
.bookList2 .bookDetail .todayBook .textbox p {
  margin: 2% 0;
}
.bookList2 .bookDetail .todayBook .textbox span {
  margin-right: 10px;
}
.bookList2 .bookDetail .todayBook .textbox span:nth-of-type(1) {
  color: #6DB329;
}
.bookList2 .bookSlide {
  width: 45%;
  height: 400px;
  overflow: hidden;
}
.bookList2 .bookSlide .bookSlideWrap {
  display: flex;
  flex-wrap: wrap;
  width: 263%;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  margin-left: -175px;
}
.bookList2 .bookSlide .bookSlideWrap .todaySlideBook {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  justify-content: center;
  align-content: center;
}
.bookList2 .bookSlide .bookSlideWrap .todaySlideBook img {
  border: 1px solid #f4f4f4;
}
.bookList2 .bookSlide .bookSlideWrap .todaySlideBook p {
  width: 84%;
  text-align: center;
  font-size: 13px;
  margin-top: 3%;
}
.bookList2 .left {
  position: absolute;
  left: -55px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.bookList2 .right {
  position: absolute;
  right: -55px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#content3 {
  height: 300px;
}
#content3 .container {
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#content3 .container .bannerList {
  width: 45%;
  height: 150px;
  border-radius: 20px;
}
#content3 .container .bannerList:nth-child(1) {
  background-image: url(../img/banner1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content3 .container .bannerList:nth-child(2) {
  background-image: url(../img/banner2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content4 {
  width: 100%;
  height: 700px;
  position: relative;
}
#content4 .castBg ul {
  width: 100%;
  height: 400px;
  position: relative;
}
#content4 .castBg ul li {
  position: absolute;
  width: 100%;
  height: 100%;
}
#content4 .castBg ul li::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}
#content4 .castBg ul li:nth-child(1) {
  background-image: url(../img/contents4_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content4 .castBg ul li:nth-child(2) {
  background-image: url(../img/contents4_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content4 .castBg ul li:nth-child(3) {
  background-image: url(../img/contents4_3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content4 .castBg ul li:nth-child(4) {
  background-image: url(../img/contents4_4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content4 .castBg ul li:not(:nth-child(1)) {
  display: none;
}
#content4 .container {
  height: 600px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.titleBox4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.titleBox4 .castIcon {
  background-image: url(../img/casting_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 130px;
  height: 30px;
}
.titleBox4 span::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 5px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/plus_white.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.titleBox4 span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.castTxtlist {
  height: 500px;
  width: 100%;
}
.castTxtlist li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  height: 500px;
}
.castTxtlist li:not(:nth-child(1)) {
  display: none;
}
.castTxtlist li .txtBox {
  width: 40%;
  color: #fff;
  align-self: baseline;
}
.castTxtlist li .txtBox p {
  width: 80%;
}
.castTxtlist li .txtBox p:nth-child(1) {
  height: 140px;
  font-size: xx-large;
  font-weight: bold;
}
.castTxtlist li .txtBox p:nth-child(2) {
  margin: 5% 0;
}
.castTxtlist li .txtBox p span {
  color: #999;
}
.castTxtlist li .videoBox {
  width: 60%;
  height: 450px;
  border-radius: 50px;
  position: relative;
}
.castTxtlist li .videoBox::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  border-radius: 50px;
}
.castTxtlist li .videoBox a {
  display: block;
  background-image: url(../img/play.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.a1 {
  background-image: url(../img/contents4_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.a2 {
  background-image: url(../img/contents4_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.a3 {
  background-image: url(../img/contents4_3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.a4 {
  background-image: url(../img/contents4_4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonBox {
  position: absolute;
  top: 55%;
  z-index: 10;
}
.buttonBox .left4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
  cursor: pointer;
}
.buttonBox .right4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.bookbox4 {
  width: 170px;
  height: 230px;
  position: relative;
  top: 35px;
  left: 300px;
  text-align: center;
  color: #333;
  font-weight: bold;
}
.bookbox4 img {
  display: block;
  margin-bottom: 10px;
  margin-left: 25px;
  box-shadow: 5px 5px 5px #999;
}

#content5 {
  height: 1100px;
  margin-top: 50px;
}

.bookList5 {
  width: 100%;
  height: 900px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-content: space-around;
}
.bookList5:not(:nth-child(2)) {
  display: none;
}

.bestBook {
  width: 19%;
  height: 350px;
  position: relative;
  text-align: center;
}
.bestBook span {
  position: absolute;
  top: -33px;
  display: inline-block;
  text-align: center;
  width: 26px;
  height: 26px;
  background-color: #bbb;
  color: #fff;
  font-size: 13px;
  padding: 2px;
  border-radius: 8px 0 8px 0;
}
.bestBook .bestTop {
  background-image: url(../img/best.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 130px;
  height: 26px;
}

.bestBook img {
  width: 200px;
  height: 300px;
  box-shadow: 5px 5px 5px #999;
  border-radius: 8px 0 8px 0;
}
.bestBook p {
  width: 200px;
  margin: 2% auto;
  text-align: left;
}
.bestBook p:nth-of-type(1) {
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
}
.bestBook p:nth-of-type(2) {
  font-size: 13px;
  color: #555;
}

#content6 {
  height: 300px;
}
#content6 .titleBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  height: 70px;
}
#content6 .titleBox .eventList {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: flex-end;
  justify-content: flex-start;
  height: 70px;
}
#content6 .titleBox .eventList a {
  position: relative;
  transition: all 0.5s;
  margin-right: 30px;
}
#content6 .titleBox span {
  width: 35%;
  text-align: right;
  font-weight: bold;
}
#content6 .titleBox span::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 5px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#content6 .titleBox span:hover {
  text-decoration: underline;
}

.eventSlide {
  width: 100%;
  height: 100px;
  margin: 3% 0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.eventSlide ul {
  width: 300%;
  display: flex;
  position: absolute;
}
.eventSlide ul:not(:nth-child(1)) {
  display: none;
}

.eventList1 li {
  width: 1260px;
  height: 100px;
}

.eventList2 li {
  width: 1260px;
  height: 100px;
}

#content7 {
  height: 530px;
  background-color: #F4FAF2;
}
#content7 .titleBox7 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 40px 0;
}
#content7 .titleBox7 .pickIcon {
  background-image: url(../img/picks.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 40px;
}
#content7 .titleBox7 span {
  font-weight: bold;
}
#content7 .titleBox7 span::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 5px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.pickWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
.pickWrap .pickText span {
  color: #6DB329;
  font-size: 14px;
  font-weight: bold;
}
.pickWrap .pickText p {
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
}
.pickWrap .pickText button {
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #6DB329;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  margin: 8% 0;
}

.pickSlide {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  align-items: center;
  justify-content: space-between;
}
.pickSlide .pickList {
  width: 22%;
  height: 310px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}
.pickSlide .pickList strong {
  font-size: 13px;
}
.pickSlide .pickList img {
  display: inline-block;
  margin: 5% 0;
}
.pickSlide .pickList p {
  font-size: 13px;
  font-weight: bold;
}
.pickSlide .pickList span {
  font-size: 12px;
  color: #666;
}

#content8 {
  height: 500px;
}
#content8 .container {
  display: flex;
  flex-wrap: wrap;
  width: 1260px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.titleBox8 {
  width: 30%;
  height: 300px;
}
.titleBox8 p {
  margin: 3% 0;
  color: #999;
  line-height: 30px;
}
.titleBox8 .more {
  font-weight: bold;
  margin: 3% 0;
}
.titleBox8 .more::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 5px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.titleBox8 .more:hover {
  text-decoration: underline;
}

.btnBox {
  margin: 10% 0;
}
.btnBox .left7 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  cursor: pointer;
}
.btnBox .right7 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.hitList {
  width: 70%;
  height: 300px;
  overflow: hidden;
}
.hitList ul {
  display: flex;
  flex-wrap: wrap;
  width: 200%;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
}
.hitList ul li {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 5px #999;
}
.hitList ul li p {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  padding-top: 30%;
  line-height: 50px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.hitList ul li p:hover {
  opacity: 1;
}

#content9 {
  height: 700px;
}
#content9 .container {
  position: relative;
}
#content9 .container .weekBook {
  width: 100%;
  height: 450px;
  margin-top: 50px;
  overflow: hidden;
}
#content9 .container .left {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: -55px;
  top: 55%;
  cursor: pointer;
}
#content9 .container .right {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: -55px;
  top: 55%;
  cursor: pointer;
}

.weekSlide {
  display: flex;
  flex-wrap: wrap;
  width: 200%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}
.weekSlide li {
  width: 12%;
  height: 100%;
}
.weekSlide li img {
  width: 230px;
  height: 300px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px #999;
}
.weekSlide li p {
  font-weight: bold;
  margin: 20px 0;
}
.weekSlide li span {
  font-size: 14px;
  color: #555;
}