.bookInfo {
  width: 100%;
  height: 900px;
}
.bookInfo .topBar {
  height: 40px;
}
.bookInfo .topBar .main {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  align-items: center;
  justify-content: space-between;
}
.bookInfo .topBar .main::before {
  content: "";
  width: 15px;
  height: 12px;
  background-image: url(../img/home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookInfo .topBar .main > li {
  width: 100px;
  height: 18px;
  font-size: 13px;
  text-align: center;
}
.bookInfo .topBar .main > li:hover .topHide {
  display: block;
  z-index: 100;
}
.bookInfo .topBar .main > li:nth-of-type(2n) {
  width: 5px;
}
.bookInfo .topBar .main > li:nth-of-type(2n-1) > a::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  margin-left: 3px;
  background-image: url(../img/more.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topHide {
  border: 1px solid #999;
  border-radius: 20px;
  width: 170px;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
  display: none;
  background-color: #fefefe;
  position: absolute;
  z-index: 100;
}
.topHide li {
  padding: 2px;
}

.sub {
  width: 350px;
  height: 250px;
}
.sub ul {
  float: left;
  margin-right: 20px;
}

.txtBold {
  font-weight: bold;
}

.title {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  position: relative;
}
.title h2 {
  line-height: 60px;
}
.title .share {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  padding: 8px;
}
.title .share img {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.bookBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  margin-top: 50px;
}

.author {
  width: 24%;
}
.author > p {
  line-height: 35px;
  margin: 10px 0;
}
.author > p span {
  font-weight: 450;
}
.author > p small {
  color: #777;
}
.author > p:nth-child(2) {
  font-size: small;
}
.author > p:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
}
.author > p strong {
  font-size: medium;
  margin-right: 10px;
}
.author > p strong::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 20px;
  margin: -3px 5px -3px 0;
  background-image: url(../img/crown.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.countBox {
  width: 100%;
  height: 130px;
  margin: 25px 0;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.countBox a {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.countBox div {
  width: 50%;
  height: 80px;
  text-align: center;
}

.reviewL {
  border-right: 1px solid #eee;
}
.reviewL span:nth-child(1) {
  color: #6DB329;
  font-size: 18px;
  font-weight: bold;
}
.reviewL span:nth-child(3) {
  font-size: 12px;
}
.reviewL p {
  margin-top: 10px;
}
.reviewL img {
  width: 18px;
  height: 18px;
}

.reviewR img {
  width: 18px;
  height: 18px;
}
.reviewR p {
  color: #5055b1;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 0;
}
.reviewR span {
  font-size: 12px;
}

.bookCover {
  width: 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.bookCover .turnBook {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.bookCover .turnBook:hover {
  transform: rotateY(35deg);
  cursor: url(../img/flip.svg), pointer;
}
.bookCover .turnBook.rotate {
  transform: rotateY(180deg);
}
.bookCover .turnBook img {
  box-shadow: 1px 1px 5px #999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bookCover .turnBook::before {
  content: "";
  width: 30px;
  height: 100%;
  background-image: url(../img/flipBook_A.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: rotateY(90deg);
  transform-origin: left;
}
.bookCover .turnBook::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/flipBook_B.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center;
  transform: rotateY(180deg) translateZ(30px);
}

.bookDeliver {
  width: 24%;
  height: 100%;
}
.bookDeliver button:hover {
  background-color: #eee;
}
.bookDeliver > button {
  width: 100%;
  height: 40px;
  padding: 1px 5px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.bookDeliver > button img {
  width: 15px;
  height: 20px;
  vertical-align: sub;
}

.prod_price {
  border-bottom: 1px solid #eee;
  height: 100px;
  margin-top: 10px;
}
.prod_price p {
  font-size: 25px;
  padding-top: 25px;
}
.prod_price p strong {
  color: #6DB329;
}
.prod_price p span {
  font-weight: bold;
  margin-left: 5px;
}
.prod_price p small {
  font-size: 16px;
  text-decoration: line-through;
  color: #999;
}

.btnWrap span {
  border: 1px solid #999;
  color: #999;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 12px;
}
.btnWrap span:nth-child(1) {
  color: #5055b1;
  border: 1px solid #5055b1;
}

.prod_box {
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.prod_box:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.prod_box:nth-child(2) span {
  color: #6DB329;
  font-weight: bold;
}
.prod_box:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 10px 0;
}
.prod_box:nth-child(3) p {
  width: 100%;
}
.prod_box:nth-child(3) p:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.prod_box:nth-child(3) p:nth-child(2) {
  font-weight: bold;
}
.prod_box:nth-child(3) p:nth-child(3) {
  color: #777;
}
.prod_box:nth-child(3) p:not(:nth-child(1)) {
  text-align: right;
}
.prod_box:nth-child(3) p button {
  padding: 1px 5px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}
.prod_box:nth-child(3) p button img {
  width: 7px;
  height: 7px;
  margin-bottom: 1px;
}
.prod_box:nth-child(3) p button:hover {
  background-color: #eee;
}
.prod_box:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: none;
  height: 90px;
}
.prod_box:nth-child(4) p {
  color: #777;
  font-size: 13px;
}
.prod_box:nth-child(4) button {
  color: #5055b1;
  padding: 3px 10px;
  background-color: #fefefe;
  border: 1px solid #5055b1;
  border-radius: 5px;
  font-size: 12px;
}
.prod_box:nth-child(4) button img {
  width: 12px;
  height: 18px;
  vertical-align: sub;
}
.prod_box:nth-child(4) button:hover {
  background-color: #eee;
}

.detailNav {
  width: 100%;
  height: 90px;
  position: sticky;
  top: 0;
  background-color: #fefefe;
  z-index: 10;
  border-bottom: 1px solid #aaa;
}
.detailNav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 90px;
}
.detailNav ul li {
  width: 150px;
  height: 100%;
}
.detailNav ul li a {
  display: inline-block;
  height: 100%;
  padding-top: 33px;
  font-size: 17px;
  color: #777;
}

.underline {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

.bookDetail h3 {
  font-size: 20px;
}
.bookDetail > .container {
  display: flex;
  flex-wrap: wrap;
  width: 1260px;
  align-items: flex-start;
  justify-content: space-between;
}
.bookDetail > .container .leftSide {
  width: 65%;
}
.bookDetail > .container .rightSide {
  width: 30%;
}

.event {
  margin: 50px 0;
}
.event > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.event > div span {
  font-size: 13px;
  color: #777;
}
.event a {
  display: inline-block;
}
.event a img {
  border-radius: 15px;
}
.event a p {
  font-weight: 500;
  margin: 10px 0;
}
.event a span {
  font-size: 13px;
}

.bookCard {
  height: 550px;
  position: relative;
}
.bookCard h3 {
  margin: 50px 0;
}

.book_card {
  width: 100%;
  height: 380px;
}
.book_card .prev {
  left: 0;
  display: none;
}
.book_card .next {
  right: 0;
  display: none;
}

.card_slide {
  text-align: center;
  width: 380px;
  height: 380px;
}
.card_slide img {
  width: 380px;
  height: 380px;
}

.buyBook {
  height: 550px;
}

.buy_book_box {
  width: 100%;
  height: 400px;
  background-color: #eee;
  border-radius: 20px;
  margin: 50px 0;
  overflow: hidden;
}

.buy_book {
  width: 95%;
  height: 350px;
  top: 25px;
}

.buy_slide {
  text-align: center;
  padding-top: 20px;
}
.buy_slide h5 {
  margin: 8px 0;
}
.buy_slide p {
  font-size: 13px;
}
.buy_slide b {
  font-size: 13px;
}

.detailBox img {
  border-radius: 20px;
  width: 100%;
}

.bookIntro {
  margin: 50px 0;
}
.bookIntro h3 {
  margin: 20px 0;
}
.bookIntro p {
  font-weight: 500;
}
.bookIntro div {
  margin: 20px 0;
}
.bookIntro div:nth-of-type(1) {
  font-size: 14px;
  color: #444;
  height: 70px;
  border-bottom: 1px solid #aaa;
}
.bookIntro div span {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 10px;
  background-image: url(../img/arw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookIntro div:nth-of-type(2) {
  font-size: 15px;
  line-height: 24px;
  color: #444;
  margin: 30px 0;
}

.bookVideo {
  margin: 50px 0;
}
.bookVideo iframe {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  margin-top: 30px;
}
.bookVideo ul {
  padding-left: 15px;
}
.bookVideo li {
  list-style: disc;
  color: #777;
  font-size: 13px;
  margin: 5px 0;
}

.authorDetail {
  margin: 50px 0;
}

.authorWrap {
  width: 100%;
  background-color: #eee;
  border-radius: 20px;
  margin: 30px 0;
  padding: 30px;
}
.authorWrap > span {
  display: inline-block;
  background-color: #fefefe;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  color: #777;
  margin: 20px 10px;
}

.authorName {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.authorName p {
  font-size: 17px;
}
.authorName p span {
  color: #777;
}
.authorName p b {
  letter-spacing: 2px;
}
.authorName button {
  padding: 3px 10px;
  background-color: #fefefe;
  border: 1px solid #999;
  border-radius: 5px;
}
.authorName button:hover {
  background-color: #eee;
}
.authorName button span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: -2px;
  background-image: url(../img/info.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.authorText {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.authorText img {
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
.authorText .aTextbox {
  width: 80%;
  padding: 10px;
  color: #555;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.foldBtn1 {
  width: 10%;
  margin-left: 160px;
  cursor: pointer;
}

.toText {
  color: #555;
  font-size: 15px;
  margin-right: 5px;
}
.toText:hover {
  text-decoration: underline;
}

.foldShow .arrowDown {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url(../img/more.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.foldHide {
  display: none;
}
.foldHide .arrowDown {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url(../img/morex.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.authorBookWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}
.authorBookWrap .authorBook {
  margin: 0 10px;
}
.authorBookWrap .authorBook h5 {
  margin-top: 10px;
}

.contents {
  margin: 50px 0;
  border-bottom: 1px solid #aaa;
}
.contents pre {
  font-size: 15px;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
}
.contents h3 {
  margin-bottom: 50px;
}

.foldBtn2 {
  cursor: pointer;
  margin: 30px 0;
  display: inline-block;
}

.command {
  margin: 50px 0;
  border-bottom: 1px solid #aaa;
}
.command .commandText {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
}
.command p {
  font-size: 15px;
  color: #555;
}
.command h3 {
  margin-bottom: 50px;
}
.command h4 {
  color: #5055b1;
}

.bookIn {
  margin: 50px 0;
  border-bottom: 1px solid #aaa;
}
.bookIn p {
  font-size: 15px;
  color: #555;
}
.bookIn h3 {
  margin-bottom: 50px;
}
.bookIn .bookInText {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
}

.public {
  margin: 50px 0;
  border-bottom: 1px solid #aaa;
}
.public p {
  font-size: 15px;
  color: #555;
}
.public h3 {
  margin-bottom: 50px;
}
.public .publicText {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
}

.info {
  margin: 50px 0;
  border-bottom: 1px solid #aaa;
}
.info h3 {
  padding-bottom: 30px;
  border-bottom: 1px solid #555;
}
.info table {
  margin: 30px 0;
  width: 100%;
  text-align: left;
  font-size: 14px;
}
.info th {
  padding: 10px 20px;
  width: 30%;
}
.info td {
  color: #555;
}

.klover {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.klover small {
  font-size: 13px;
  color: #555;
  margin-right: 15px;
}
.klover button {
  width: 110px;
  padding: 10px;
  background-color: #5055b1;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.klover button:hover {
  background-color: #2c2f64;
}
.klover button span {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 18px;
  margin-right: 5px;
  background-image: url(../img/review.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reviewBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin: 20px 0;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 30px;
  height: 280px;
  position: relative;
}

.reviewLeft {
  width: 45%;
}
.reviewLeft p {
  text-align: center;
}
.reviewLeft p img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
}
.reviewLeft p b {
  color: #6DB329;
  font-size: 20px;
}
.reviewLeft p small {
  color: #555;
}
.reviewLeft .kloverPercent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}
.reviewLeft .kloverPercent:nth-child(2) {
  margin-top: 10px;
}
.reviewLeft .kloverPercent:nth-child(2) .progress {
  background-color: #6DB329;
}
.reviewLeft .kloverPercent:nth-child(3) img:last-child {
  opacity: 0.5;
}
.reviewLeft .kloverPercent:nth-child(4) img:last-child, .reviewLeft .kloverPercent:nth-child(4) img:nth-child(3) {
  opacity: 0.5;
}
.reviewLeft .kloverPercent:nth-child(5) img:not(:first-child) {
  opacity: 0.5;
}
.reviewLeft .kloverPercent span {
  width: 22%;
}
.reviewLeft .kloverPercent .progress {
  width: 60%;
  height: 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.reviewLeft .kloverPercent small {
  width: 15%;
  text-align: center;
  color: #555;
}
.reviewLeft .kloverPercent img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.reviewRight {
  width: 45%;
}
.reviewRight::before {
  content: "";
  width: 1px;
  height: 185px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: absolute;
  left: 50%;
}
.reviewRight p {
  text-align: center;
}
.reviewRight p img {
  width: 18px;
  height: 18px;
  vertical-align: baseline;
  margin-right: 5px;
}
.reviewRight p b {
  color: #5055b1;
}

.replyListWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 137px;
}
.replyListWrap .replyNum {
  font-size: 12px;
}
.replyListWrap .numtt {
  background-color: #7175BE;
  color: #fff;
  border-radius: 20px;
  width: 40px;
  margin: 0 auto;
  padding-bottom: 2px;
  position: relative;
}
.replyListWrap .numtt::after {
  content: "";
  width: 10px;
  height: 5px;
  background-image: url(../img/score.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.replyListWrap .contxt {
  color: #5055b1;
  font-weight: 500;
}
.replyListWrap .replyList {
  width: 18%;
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}
.replyListWrap .replyList:nth-child(2) .meter {
  height: 17px;
}
.replyListWrap .replyList:nth-child(3) .meter {
  height: 17px;
}
.replyListWrap .replyList:nth-child(4) .percentBar {
  background-color: rgba(170, 173, 224, 0.575);
}
.replyListWrap .replyList:nth-child(4) .meter {
  height: 33px;
  background-color: #5055b1;
}
.replyListWrap .replyList:nth-child(5) .percentBar {
  background-color: rgba(170, 173, 224, 0.575);
}
.replyListWrap .replyList:nth-child(5) .meter {
  height: 33px;
  background-color: #5055b1;
}

.replyPercent {
  width: 7px;
  height: 65px;
  margin: 10px auto;
  position: relative;
}
.replyPercent .percentBar {
  position: absolute;
  width: 7px;
  height: 65px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.replyPercent .meter {
  position: absolute;
  width: 7px;
  border-radius: 5px;
  bottom: 0;
  background-color: #999;
}

.reviewText {
  width: 100%;
  margin: 50px 0;
}

.reviewTotal {
  border-bottom: 1px solid #aaa;
  padding: 30px 0;
}

.reviewTab {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  height: 45px;
}
.reviewTab .reviewNav {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  align-items: center;
  justify-content: flex-start;
}
.reviewTab .reviewNav li {
  width: 50%;
  height: 45px;
}
.reviewTab .reviewNav li a {
  display: inline-block;
  height: 100%;
}

.reviewfont {
  border-bottom: 2px solid #555;
  font-weight: bold;
}

#rank {
  width: 15%;
  border-radius: 10px;
  padding-left: 5px;
  height: 35px;
  margin-bottom: 10px;
}

.reviewBoxTop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}
.user li {
  font-size: 12.5px;
  color: #555;
}
.user li:nth-of-type(1) span {
  background-color: rgba(113, 117, 190, 0.368627451);
  padding: 1px 7px;
  border-radius: 15px;
}
.user li:nth-of-type(2) span {
  border: 1px solid #333;
  padding: 1px 7px;
  border-radius: 15px;
}

.reviewBoxImg .kloverImgBox img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}
.reviewBoxImg span {
  color: #5055b1;
  font-size: 14px;
  font-weight: 600;
}
.reviewBoxImg span:nth-of-type(2) {
  font-size: 10px;
  color: #999;
  display: inline-block;
  margin-right: 5px;
}
.reviewBoxImg span:nth-of-type(3)::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: baseline;
  background-image: url(../img/quotes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}

.reviewBoxconment {
  margin: 20px 0;
  font-size: 13px;
}

.reviewBoxEmoji {
  text-align: right;
}
.reviewBoxEmoji span {
  font-size: 14px;
  margin-left: 10px;
}
.reviewBoxEmoji span:nth-of-type(1)::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
  background-image: url(../img/like.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviewBoxEmoji span:nth-of-type(2) {
  color: #555;
}
.reviewBoxEmoji span:nth-of-type(2)::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
  background-image: url(../img/reply.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.totalhide {
  display: none;
}

.reviewLast {
  margin-bottom: 50px;
  width: 100%;
}
.reviewLast img {
  width: 100%;
  border-radius: 20px;
}

.refundTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  height: 100px;
}
.refundTitle button {
  width: 110px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
}
.refundTitle button:nth-of-type(1) {
  background-color: #fefefe;
  border: 1px solid #999;
}
.refundTitle button:nth-of-type(1):hover {
  background-color: rgba(95, 101, 219, 0.0666666667);
}
.refundTitle button:nth-of-type(2) {
  background-color: #5055b1;
  border: none;
  font-weight: bold;
  color: white;
}
.refundTitle button:nth-of-type(2):hover {
  background-color: #2c2f64;
}
.refundTitle button:nth-of-type(2) span {
  display: inline-block;
  vertical-align: text-bottom;
  width: 18px;
  height: 15px;
  background-image: url(../img/refund.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#refund {
  margin-bottom: 100px;
}
#refund .refundDetail {
  border-bottom: 1px solid #aaa;
  padding: 30px 0;
}
#refund .refundDetail:nth-last-child(1) {
  border: none;
}
#refund .refundDetail h4 {
  margin-bottom: 20px;
}
#refund .refundDetail p {
  font-size: 14px;
  line-height: 30px;
}
#refund .refundDetail ol {
  padding: 10px;
}
#refund .refundDetail ol li {
  padding: 0 5px;
  line-height: 30px;
  list-style: decimal;
  font-size: 14px;
}
#refund .refundDetail span {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #eee;
  border-radius: 20px;
  padding: 30px;
  font-size: 13px;
  color: #555;
  margin: 20px 0;
}

.find {
  margin: 50px 0;
}

.Tit {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.Tit span {
  font-size: 14px;
}
.Tit span::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 5px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.Tit span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.find_good {
  width: 100%;
  height: 180px;
}
.find_good .swiper-slide {
  padding: 10px;
}
.find_good .swiper-slide img {
  width: 93%;
  height: 100%;
  border-radius: 20px;
}

.bestBook {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}
.bestBook img {
  border: 1px solid #ddd;
  height: 140px;
}

.number .bestTxt span:nth-child(1) {
  background-color: #6DB329;
}

.bestTxt {
  margin-left: 15px;
  width: 50%;
  height: 130px;
}
.bestTxt h5 {
  margin: 8px 0;
}
.bestTxt span {
  font-size: 13px;
  display: inline-block;
}
.bestTxt span:nth-child(1) {
  background-color: #444;
  color: #fff;
  width: 23px;
  height: 23px;
  font-weight: bold;
  padding-top: 1px;
  text-align: center;
  border-radius: 7px 0 7px 0;
}
.bestTxt span:nth-child(4) {
  color: #6DB329;
  font-weight: bold;
  margin-right: 10px;
}
.bestTxt p {
  font-size: 14px;
}

.banner1 {
  margin: 50px 0;
}
.banner1 img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.newBook {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}
.newBook img {
  border: 1px solid #ddd;
  height: 140px;
}

.number .newTxt span:nth-child(1) {
  background-color: #6DB329;
}

.newTxt {
  margin-left: 15px;
  width: 50%;
  height: 100px;
}
.newTxt h5 {
  margin: 8px 0;
}
.newTxt span {
  font-size: 13px;
  display: inline-block;
}
.newTxt span:nth-child(3) {
  color: #6DB329;
  font-weight: bold;
  margin-right: 10px;
}
.newTxt p {
  font-size: 14px;
}

.banner2 {
  margin: 50px 0;
}
.banner2 img {
  width: 100%;
  height: 180px;
  border-radius: 20px;
  margin: 10px 0;
}

.fixBox {
  bottom: 100px;
}

.priceBox {
  width: 100%;
  height: 80px;
  border-top: 1px solid #ddd;
  position: sticky;
  left: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 50;
}
.priceBox .container {
  display: flex;
  flex-wrap: wrap;
  width: 1260px;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.totalPrice {
  font-size: x-large;
}
.totalPrice small {
  margin-right: 20px;
}

.fixbtnWrap {
  display: flex;
  flex-wrap: wrap;
  width: 57%;
  align-items: center;
  justify-content: space-between;
}

.countBtn {
  display: flex;
  flex-wrap: wrap;
  width: 125px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}
.countBtn span {
  width: 30px;
  display: inline-block;
  cursor: pointer;
}
.countBtn span img {
  width: 15px;
  height: 15px;
}
.countBtn input {
  width: 20px;
  font-size: 16px;
  border: none;
  margin-bottom: 3px;
  text-align: center;
}

.heart {
  width: 50px;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
}
.heart img {
  width: 19px;
  height: 22px;
}

.gift {
  width: 125px;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.gift:hover {
  background-color: rgba(95, 101, 219, 0.0666666667);
}
.gift img {
  width: 19px;
  height: 24px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.fixCart {
  width: 125px;
  height: 55px;
  border: 1px solid #5055b1;
  border-radius: 10px;
  text-align: center;
  padding: 14px;
  font-weight: bold;
  color: #5055b1;
  cursor: pointer;
}
.fixCart:hover {
  background-color: rgba(95, 101, 219, 0.0666666667);
}

.direct {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border: 1px solid #5055b1;
  border-radius: 10px;
  overflow: hidden;
}
.direct a {
  width: 50%;
  height: 55px;
  text-align: center;
  padding: 14px;
  font-weight: bold;
}
.direct a:nth-child(1) {
  background-color: #fff;
  color: #5055b1;
}
.direct a:nth-child(1):hover {
  background-color: rgba(95, 101, 219, 0.0666666667);
}
.direct a:nth-child(2) {
  background-color: #5055b1;
  color: #fff;
}
.direct a:nth-child(2):hover {
  background-color: #2c2f64;
}