@charset "UTF-8";
@import "var.scss";

// 슬라이더
#slider {
    width: 1903px;
    margin: 0 auto;
    height: 615px;
    position: relative;

    .slideText {
        position: relative;
        padding-top: 50px;
        width: 100%;
        height: 165px;

        li {
            position: absolute;

            &:not(:nth-child(1)) {
                display: none;
            }

            p {
                font: {
                    size: 40px;
                    weight: bold;
                }

                ;
                padding-left: 50px;
            }
        }
    }

}

.sPopup {
    position: absolute;
    top: 50px;
    right: 320px;
    width: 260px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px 0 20px 20px;
    z-index: 5;

    img {
        width: 100%;
        height: 200px;
    }

    .popText {
        background-color: #fff;
        height: 100px;
        padding: 10px 14px;
        margin-top: -5px;

        span {
            color: $mainColor;

            font : {
                size: 14px;
                weight: 600;
            }

            ;
        }

        p {
            font: {
                size: 15px;
                weight: bold;
            }
        }

        small {
            color: #555;
            line-height: 30px;
        }
    }
}

.slideImg {
    position: relative;
    height: 450px;

    ul {
        li {
            position: absolute;
            right: 0;

            &:not(:nth-child(1)) {
                display: none;
            }
        }
    }
}

.slideBar {
    position: absolute;
    bottom: 0;
    height: 70px;
    background-color: rgba(249, 249, 249, 0.8);
    right: 0;
    @include dFlex(70%, center, flex-start);

    ul {
        @include dFlex(65%, null, space-evenly);
        height: 70px;

        li {
            @include dFlex(null, center, null);
        }

    }
}

.aUnderline {
    border-bottom: 2px solid #333;
    font-weight: bold;
}

.controlBox {
    @include dFlex(12%, center, center);
    border-left: 1px solid #ddd;

    div {
        width: 15px;
        height: 15px;
        margin: 0 8%;
        cursor: pointer;

        border: {
            top: 3px solid #999;
            left: 3px solid #999;
        }

        ;

        &:nth-child(1) {
            transform: rotate(-45deg);
        }

        &:nth-child(2) {
            transform: rotate(135deg);
        }
    }
}

// 컨텐츠1
#content1 {
    height: 150px;

    .contentBar {
        @include dFlex(100%);
        height: 150px;

        li {
            width: 7%;

            a {
                @include dFlex($jc: center);
                font-size: 13px;
            }
        }

    }

}

// 컨텐츠2
// 오늘의 선택
#content2 {
    height: 600px;
    .container{
        position: relative;
    }
}

.titleBox {
    @include dFlex($ai: flex-end);
    height: 70px;

    .categoryList {
        @include dFlex(45%, flex-end);

        a {
            position: relative;
            transition: all 0.5s;
        }
    }
    span {
        width: 35%;
        text-align: right;
        font-weight: bold;

        &::after {
            @include plus;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

// 액티브클래스
.titleFont {
    color: $mainColor;
    font-weight: bold;
    &::before {
        @include greenDot;
    }
}

//오늘의 선택
.bookList2 {
    height: 530px;
    @include dFlex();
    position: absolute;

    &:not(:nth-child(2)) {
        display: none;
    }

    .bookDetail {
        width: 50%;
        height: 400px;
        position: relative;

        .todayBook {
            height: 100%;
            @include dFlex();
            position: absolute;

            &:not(:nth-child(1)) {
                display: none;
            }

            a {
                height: 100%;
                @include dFlex(50%, center, center);

                img {
                    width: 75%;
                    height: 80%;
                    box-shadow: 10px 10px 15px #999;
                }
            }

            .textbox {
                width: 50%;

                p {
                    margin: 2% 0;
                }

                span {
                    margin-right: 10px;

                    &:nth-of-type(1) {
                        color: $green;
                    }
                }
            }
        }
    }

    .bookSlide {
        width: 45%;
        height: 400px;
        overflow: hidden;

        .bookSlideWrap {
            @include dFlex(263%, center, space-evenly);
            height: 400px;
            margin-left: -175px;

            .todaySlideBook {
                height: 300px;
                @include dFlex(170px, null, center);
                align-content: center;

                img {
                    border: 1px solid $bgColor;
                }

                p {
                    width: 84%;
                    text-align: center;
                    font-size: 13px;
                    margin-top: 3%;
                }
            }
        }

    }
    .left {
        position: absolute;
        left: -55px;
        @include leftButton;
        cursor: pointer;
    }
    .right {
        position: absolute;
        right: -55px;
        @include rightButton;
        cursor: pointer;
    }
}

// 컨텐츠3
//배너광고
#content3 {
    height: 300px;

    .container {
        height: 250px;
        @include dFlex(null, center, space-evenly);

        .bannerList {
            width: 45%;
            height: 150px;
            border-radius: 20px;

            &:nth-child(1) {
                @include backGround(url(../img/banner1.jpg), center);
            }

            ;

            &:nth-child(2) {
                @include backGround(url(../img/banner2.png), center);
            }
        }
    }

}

// 컨텐츠4
//비디오
#content4 {
    width: 100%;
    height: 700px;
    position: relative;

    .castBg {
        ul {
            width: 100%;
            height: 400px;
            position: relative;

            li {
                position: absolute;
                width: 100%;
                height: 100%;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $opacityB;
                    display: block;
                }

                &:nth-child(1) {
                    @include backGround(url(../img/contents4_1.jpg), center);
                }

                &:nth-child(2) {
                    @include backGround(url(../img/contents4_2.jpg), center);
                }

                &:nth-child(3) {
                    @include backGround(url(../img/contents4_3.jpg), center);
                }

                &:nth-child(4) {
                    @include backGround(url(../img/contents4_4.jpg), center);
                }

                &:not(:nth-child(1)) {
                    display: none;
                }
            }
        }
    }

    .container {
        height: 600px;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.titleBox4 {
    @include dFlex();
    color: #fff;

    .castIcon {
        @include backGround(url(../img/casting_logo.png), center);
        width: 130px;
        height: 30px;
    }

    span {
        &::after {
            @include plus;
            @include backGround(url(../img/plus_white.png));
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.castTxtlist {
    height: 500px;
    width: 100%;

    li {
        @include dFlex();
        position: absolute;
        bottom: 20px;
        height: 500px;

        &:not(:nth-child(1)) {
            display: none;
        }

        .txtBox {
            width: 40%;
            color: #fff;
            align-self: baseline;

            p {
                width: 80%;

                &:nth-child(1) {
                    height: 140px;

                    font: {
                        size: xx-large;
                        weight: bold;
                    }
                }

                &:nth-child(2) {
                    margin: 5% 0;
                }

                span {
                    color: #999;
                }
            }
        }

        .videoBox {
            width: 60%;
            height: 450px;
            border-radius: 50px;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                display: block;
                border-radius: 50px;
            }

            a {
                display: block;
                @include backGround(url(../img/play.png), center);
                @include center;
                width: 100px;
                height: 100px;

            }
        }
    }
}

// 비디오 배경사진
.a1 {@include backGround(url(../img/contents4_1.jpg), center);}
.a2 {@include backGround(url(../img/contents4_2.jpg), center);}
.a3 {@include backGround(url(../img/contents4_3.jpg), center);}
.a4 {@include backGround(url(../img/contents4_4.jpg), center);}

.buttonBox {
    position: absolute;
    top: 55%;
    z-index: 10;

    .left4 {
        @include leftButton();
        margin-right: 15px;
        cursor: pointer;
    }

    .right4 {
        @include rightButton();
        cursor: pointer;
    }
}

// 비디오 책사진
.bookbox4 {
    width: 170px;
    height: 230px;
    position: relative;
    top: 35px;
    left: 300px;
    text-align: center;
    color: #333;
    font-weight: bold;

    img {
        display: block;
        margin : {
            bottom: 10px;
            left : 25px
        };
        @include shadow;
    }
}


// 컨텐츠5
//베스트셀러
#content5 {
    height: 1100px;
    margin-top: 50px;
}
.bookList5{
    width: 100%;
    height: 900px;
    margin-top: 50px;
    @include dFlex(100%,null);
    align-content: space-around;
    &:not(:nth-child(2)){
        display: none;
    }
}
.bestBook{
    width: 19%;
    height: 350px;
    position: relative;
    text-align: center;
    span{
        position: absolute;
        top: -33px;
        display: inline-block;
            text-align: center;
            width: 26px;
            height: 26px;
            background-color: #bbb;
            color: #fff;
            font-size: 13px;
            padding: 2px;
            border-radius: 8px 0 8px 0;
    }
    .bestTop{
        @include backGround(url(../img/best.png),center);
        width: 130px;
        height: 26px;
    }
}
.bestBook{
    img{
        width: 200px;
        height: 300px;
        @include shadow;
        border-radius: 8px 0 8px 0;
    }
    p{
        width: 200px;
        margin: 2% auto;
        text-align: left;
        &:nth-of-type(1){
            font : {
                size: 15px;
                weight : bold;
            };
            padding-top: 15px;
        }
        &:nth-of-type(2){
            font-size: 13px;
            color: #555;
        }
    }
}

// 컨텐츠6
//이벤트
#content6 {
    height: 300px;

    .titleBox {
        @include dFlex($ai: flex-end);
        height: 70px;

        .eventList {
            @include dFlex(50%, flex-end, flex-start);
            height: 70px;

            a {
                position: relative;
                transition: all 0.5s;
                margin-right: 30px;
            }
        }

        span {
            width: 35%;
            text-align: right;
            font-weight: bold;

            &::after {
                @include plus;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// 이벤트 배너
.eventSlide {
    width: 100%;
    height: 100px;
    margin: 3% 0;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    ul {
        width: 300%;
        display: flex;
        position: absolute;

        &:not(:nth-child(1)) {
            display: none;
        }
    }
}

.eventList1 {
    li {
        width: 1260px;
        height: 100px;
    }
}

.eventList2 {
    li {
        width: 1260px;
        height: 100px;
    }
}

// 컨텐츠7
//Picks
#content7 {
    height: 530px;
    background-color: #F4FAF2;
    .titleBox7{
        @include dFlex();
        padding: 50px 0 40px 0;
        .pickIcon{
            @include backGround(url(../img/picks.svg),center);
            width: 100px;
            height: 40px;
        }
        span{
            font-weight: bold;
            &::after{
                @include plus;
            }
        }
    }
}
.pickWrap{
    @include dFlex();
    height: 300px;
    .pickText{
        span{
            color: $green;
            font: {
                size: 14px;
                weight : bold;
            }
        }
        p{
            line-height: 50px;
            font: {
                size: 25px;
                weight : bold;
            }
        }
        button{
            width: 100%;
            height: 45px;
            color: #fff;
            background-color: $green;
            border: none;
            border-radius: 10px;
            font: {
                size: 15px;
                weight : bold;
            };
            margin :8% 0;
        }
    }
}
.pickSlide{
    @include dFlex(65%);
    .pickList{
        width: 22%;
        height: 310px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #ddd;
        text-align: center;
        padding: 10px;
        strong{
            font-size: 13px;
        }
        img{
            display:inline-block;
            margin: 5% 0;
        }
        p{
            font: {
                size: 13px;
                weight : bold;
            };
        }
        span{
            font-size: 12px;
            color: #666;
        }
    }
}

// 컨텐츠8
//히트
#content8 {
    height: 500px;
    .container {
        @include dFlex(1260px);
        height: 100%;
    }
}

.titleBox8 {
    width: 30%;
    height: 300px;
    p{
        margin: 3% 0;
        color: #999;
        line-height: 30px;
    }
    .more{
        font-weight: bold;
        margin: 3% 0;
        &::after{
            @include plus;
            @include backGround(url(../img/plus.png));
        };
        &:hover{text-decoration: underline;}
    }
}
.btnBox{
    margin: 10% 0;
    .left7{@include leftButton; margin-right: 20px;cursor: pointer;}
    .right7{@include rightButton;cursor: pointer;}
}

// 히트 슬라이드
.hitList {
    width: 70%;
    height: 300px;
    overflow: hidden;
    ul{
        @include dFlex(200%,center,space-evenly);
        height: 300px;

        li{
            width: 270px;
            height: 270px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            text-align: center;
           @include backGround(null,center);
           @include shadow;
            p{
                width: 100%;
                height: 100%;
                background-color: $opacityB;
                opacity: 0;
                padding-top: 30%;
                line-height: 50px;
                color: white;
                transition: all 0.5s;
                cursor: pointer;

                &:hover{opacity: 1;}
            }
        }
    }
}

//컨텐츠9
//이주의 책
#content9{
    height: 700px;
    .container{
        position: relative;
    .weekBook{
        width: 100%;
        height: 450px;
        margin-top: 50px;
        overflow: hidden;
    }
    .left{
        position: absolute;
        @include leftButton;
        left:-55px;
        top: 55%;
        cursor: pointer; 
    }
    .right{
        position: absolute;
        @include rightButton;
        right: -55px;
        top: 55%;
        cursor: pointer;
    }
    }
}
// 이주의 책 슬라이더
.weekSlide{
    @include dFlex(200%,center);
    height: 100%;
    text-align: center;
    li{
        width: 12%;
        height: 100%;
        img{
            width: 230px;
            height: 300px;
            margin-top: 20px;
            @include shadow;
        }
        p{
            font-weight: bold;
            margin: 20px 0;
        }
        span{
            font-size: 14px;
            color: #555;
        }
    
            
    }
}
//픽스박스
.fixBox{
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    div{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px 0;
        @include shadow;
        cursor: pointer;
    }
    .fix1{@include backGround(url(../img/PC_icon.svg),center)}
    .fix2{@include backGround(url(../img/history.png),center)}
    .fix3{
        display: none;
        border: 1px solid #eee;
        background-color: #F4FAF2;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: relative;
            font-size: 12px;
            padding-top: 5px;
            &::before{
                content: "";
                width: 13px;
                height: 5px;
                position: absolute;
                top: 13px;
                left: 17px;
                @include backGround(url(../img/top.png),center)
            }
        }
    }
}

