@charset "UTF-8";
@import "var.scss";

// 책정보
.bookInfo {
    width: 100%;
    height: 900px;

    // 카테고리탭
    .topBar {
        height: 40px;

        .main {
            height: 40px;
            @include dFlex(450px, center);

            &::before {
                content: "";
                width: 15px;
                height: 12px;
                @include backGround(url(../img/home.png), center);

            }

            &>li {
                width: 100px;
                height: 18px;
                font-size: 13px;
                text-align: center;

                &:hover .topHide {
                    display: block;
                    z-index: 100;
                }
            }

            &>li:nth-of-type(2n) {
                width: 5px;
            }

            &>li:nth-of-type(2n-1)>a::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 13px;
                height: 13px;
                margin-left: 3px;
                @include backGround(url(../img/more.png), center)
            }
        }
    }
}

.topHide {
    border: 1px solid #999;
    border-radius: 20px;
    width: 170px;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    display: none;
    background-color: #fefefe;
    position: absolute;
    z-index: 100;

    li {
        padding: 2px;
    }
}

//자기계발카테고리
.sub {
    width: 350px;
    height: 250px;

    ul {
        float: left;
        margin-right: 20px;
    }
}

// 액티브클래스
.txtBold {
    font-weight: bold;
}

// 책제목
.title {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    position: relative;

    h2 {
        line-height: 60px;
    }

    .share {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        border: 1px solid #999;
        padding: 8px;

        img {
            display: inline-block;
            width: 15px;
            height: 15px;
        }
    }
}

.bookBox {
    @include dFlex(100%, flex-start);
    height: 100%;
    margin-top: 50px;
}

// 책정보 왼쪽
.author {
    width: 24%;

    &>p {
        line-height: 35px;
        margin: 10px 0;

        span {
            font-weight: 450;
        }

        small {
            color: #777;
        }

        &:nth-child(2) {
            font-size: small;
        }

        &:nth-child(2):hover {
            text-decoration: underline;
            cursor: pointer;
        }

        strong {
            font-size: medium;
            margin-right: 10px;

            &::before {
                content: "";
                display: inline-block;
                width: 23px;
                height: 20px;
                margin: -3px 5px -3px 0;
                @include backGround(url(../img/crown.png), center);
            }
        }

    }
}

//리뷰박스
.countBox {
    width: 100%;
    height: 130px;
    margin: 25px 0;
    border: 1px solid #ddd;
    border-radius: 15px;

    a {
        height: 100%;
        @include dFlex(100%, center, space-evenly);
    }

    div {
        width: 50%;
        height: 80px;
        text-align: center;
    }

}

.reviewL {
    border-right: 1px solid #eee;


    span {
        &:nth-child(1) {
            color: $green;

            font : {
                size: 18px;
                weight: bold;
            }

        }

        &:nth-child(3) {
            font-size: 12px;
        }
    }

    p {
        margin-top: 10px;
    }

    img {
        width: 18px;
        height: 18px;
    }
}

.reviewR {
    img {
        width: 18px;
        height: 18px;
    }

    p {
        color: $mainColor;

        font : {
            size: 20px;
            weight: bold;
        }

        padding: 3px 0;
    }

    span {
        font-size: 12px;
    }
}

//책 커버 이미지
.bookCover {
    width: 50%;
    transform-style: preserve-3d;
    perspective: 1000px;

    .turnBook {
        width: 300px;
        height: 500px;
        margin: 0 auto;
        position: relative;
        transform-style: preserve-3d;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        transition: 0.5s;

        &:hover {
            transform: rotateY(35deg);
            cursor: url(../img/flip.svg), pointer;
        }

        &.rotate {
            transform: rotateY(180deg);
        }

        img {
            box-shadow: 1px 1px 5px #999;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        ;

        &::before {
            content: "";
            width: 30px;
            height: 100%;
            @include backGround(url(../img/flipBook_A.jpg), center);
            position: absolute;
            transform: rotateY(90deg);
            transform-origin: left;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            @include backGround(url(../img/flipBook_B.jpg), center);
            transform-origin: center;
            transform: rotateY(180deg) translateZ(30px);
        }

    }
}


//책 배송정보
.bookDeliver {
    width: 24%;
    height: 100%;

    button:hover {
        background-color: #eee;
    }

    &>button {
        width: 100%;
        height: 40px;
        padding: 1px 5px;
        background-color: #fefefe;
        border: 1px solid #ddd;
        border-radius: 5px;

        img {
            width: 15px;
            height: 20px;
            vertical-align: sub;
        }
    }

}

.prod_price {
    border-bottom: 1px solid #eee;
    height: 100px;
    margin-top: 10px;

    p {
        font-size: 25px;
        padding-top: 25px;

        strong {
            color: $green;
        }

        span {
            font-weight: bold;
            margin-left: 5px;
        }

        small {
            font-size: 16px;
            text-decoration: line-through;
            color: #999;
        }
    }
}

.btnWrap {
    span {
        border: 1px solid #999;
        color: #999;
        padding: 0 5px;
        border-radius: 5px;
        font-size: 12px;

        &:nth-child(1) {
            color: $mainColor;
            border: 1px solid $mainColor;
        }
    }
}

.prod_box {

    border-bottom: 1px solid #eee;
    font-size: 14px;


    &:nth-child(2) {
        @include dFlex();
        height: 60px;

        span {
            color: $green;
            font-weight: bold;
        }
    }

    &:nth-child(3) {
        @include dFlex();
        height: 120px;
        padding: 10px 0;

        p {
            width: 100%;

            &:nth-child(1) {
                @include dFlex();
            }

            &:nth-child(2) {
                font-weight: bold;
            }

            &:nth-child(3) {
                color: #777;
            }

            &:not(:nth-child(1)) {
                text-align: right;
            }

            button {
                padding: 1px 5px;
                background-color: #fefefe;
                border: 1px solid #ddd;
                border-radius: 5px;

                font : {
                    size: 13px;
                    weight: 500;
                }

                img {
                    width: 7px;
                    height: 7px;
                    margin-bottom: 1px;
                }

                &:hover {
                    background-color: #eee;
                }
            }


        }
    }

    &:nth-child(4) {
        @include dFlex();
        border: none;
        height: 90px;

        p {
            color: #777;
            font-size: 13px;
        }

        button {
            color: $mainColor;
            padding: 3px 10px;
            background-color: #fefefe;
            border: 1px solid $mainColor;
            border-radius: 5px;
            font-size: 12px;

            img {
                width: 12px;
                height: 18px;
                vertical-align: sub;
            }

            &:hover {
                background-color: #eee;
            }
        }
    }
}

//상세페이지
//네비
.detailNav {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: #fefefe;
    z-index: 10;
    @include underLine;

    ul {
        @include dFlex(100%, center, flex-start);
        height: 90px;

        li {
            width: 150px;
            height: 100%;

            a {
                display: inline-block;
                height: 100%;
                padding-top: 33px;
                font-size: 17px;
                color: #777;
            }
        }
    }
}
// 네비 액티브클래스
.underline {
    border-bottom: 2px solid #333;
    font-weight: bold;
}

//상세페이지 구역나눔
.bookDetail {
    h3 {
        font-size: 20px
    }

    &>.container {
        @include dFlex(1260px, flex-start);

        .leftSide {
            width: 65%;
        }

        .rightSide {
            width: 30%;
        }
    }
}

//왼편
//이책의 이벤트
.event {
    margin: 50px 0;

    &>div {
        @include dFlex();
        height: 100px;

        span {
            font-size: 13px;
            color: #777;
        }
    }

    a {
        display: inline-block;

        img {
            border-radius: 15px;
        }

        p {
            font-weight: 500;
            margin: 10px 0;
        }

        span {
            font-size: 13px
        }

        ;
    }
}

//북카드
.bookCard {
    height: 550px;

    h3 {
        margin: 50px 0;
    }

    position: relative;
}

.book_card {
    width: 100%;
    height: 380px;

    .prev {
        left: 0;
        display: none;
    }

    .next {
        right: 0;
        display: none;
    }

}

.card_slide {
    text-align: center;
    width: 380px;
    height: 380px;

    img {
        width: 380px;
        height: 380px;
    }
}

//함께 구매한 책
.buyBook {
    height: 550px;
}

.buy_book_box {
    width: 100%;
    height: 400px;
    background-color: #eee;
    border-radius: 20px;
    margin: 50px 0;
    overflow: hidden;
}

.buy_book {
    width: 95%;
    height: 350px;
    top: 25px;
}

.buy_slide {
    text-align: center;
    padding-top: 20px;

    h5 {
        margin: 8px 0;
    }

    p {
        font-size: 13px;
    }

    b {
        font-size: 13px;
    }
}

.detailBox {
    img {
        border-radius: 20px;
        width: 100%;
    }
}

.bookIntro {
    margin: 50px 0;

    h3 {
        margin: 20px 0;
    }

    p {
        font-weight: 500;
    }

    div {
        margin: 20px 0;

        &:nth-of-type(1) {
            font-size: 14px;
            color: #444;
            height: 70px;
            border-bottom: 1px solid #aaa
        }

        span {
            display: inline-block;
            width: 11px;
            height: 11px;
            margin: 0 10px;
            @include backGround(url(../img/arw.png), center);
        }

        &:nth-of-type(2) {
            font-size: 15px;
            line-height: 24px;
            color: #444;
            margin: 30px 0;
        }
    }
}

//북 트레일러
.bookVideo {
    margin: 50px 0;
    
    iframe {
        width: 100%;
        height: 500px;
        border-radius: 20px;
        margin-top: 30px;
    }

    ul {
        padding-left: 15px;
    }

    li {
        list-style: disc;
        color: #777;
        font-size: 13px;
        margin: 5px 0;
    }
}

//작가정보
.authorDetail {
    margin: 50px 0;
}

.authorWrap {
    width: 100%;
    background-color: #eee;
    border-radius: 20px;
    margin: 30px 0;
    padding: 30px;

    &>span {
        display: inline-block;
        background-color: #fefefe;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 14px;
        color: #777;
        margin: 20px 10px;
    }
}

.authorName {
    @include dFlex();
    height: 50px;

    p {
        font-size: 17px;

        span {
            color: #777;
        }

        b {
            letter-spacing: 2px;
        }
    }

    button {
        padding: 3px 10px;
        background-color: #fefefe;
        border: 1px solid #999;
        border-radius: 5px;

        &:hover {
            background-color: #eee;
        }

        span {
            &::before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                margin : {
                    right: 5px;
                    bottom: -2px
                };
                @include backGround(url(../img/info.png), center)
            }
        }
    }
}

.authorText {
    @include dFlex(100%, flex-start);

    img {
        border-radius: 50%;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }

    .aTextbox {
        width: 80%;
        padding: 10px;
        color: #555;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 50px;
    }
}


.foldBtn1 {
    width: 10%;
    margin-left: 160px;
    cursor: pointer;
}

.toText {
    color: #555;
    font-size: 15px;
    margin-right: 5px;

    &:hover {
        text-decoration: underline;
    }
}

.arrowDown {
    width: 18px;
    height: 18px;
    display: inline-block;
    @include backGround(url(../img/more.png), center);
    vertical-align: middle;
}

.arrowUp {
    width: 18px;
    height: 18px;
    display: inline-block;
    @include backGround(url(../img/morex.png), center);
    vertical-align: middle;
}

.authorBookWrap {
    @include dFlex($jc: flex-start);
    margin: 20px 0;

    .authorBook {
        margin: 0 10px;

        h5 {
            margin-top: 10px;
        }
    }
}

//목차
.contents {
    margin: 50px 0;
    @include underLine;

    pre {
        font-size: 14px;
        color: #555;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 200px;
    }

    h3 {
        margin-bottom: 50px;
    }
}

.foldBtn2 {
    cursor: pointer;
    margin: 30px 0;
}

//추천사
.command {
    margin: 50px 0;
    @include underLine;
    .commandTextWrap{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 200px;
    }

    p {
        font-size: 15px;
        color: #555;
    }

    h3 {
        margin-bottom: 50px;
    }

    h4 {
        color: $mainColor;
    }
}

//책속으로
.bookIn {
    margin: 50px 0;
    @include underLine;

    p {
        font-size: 15px;
        color: #555;
    }

    h3 {
        margin-bottom: 50px;
    }
    .bookInTextWrap{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 200px;
    }
}

//출판사 서평
.publisher {
    margin: 50px 0;
    @include underLine;

    p {
        font-size: 15px;
        color: #555;
    }

    h3 {
        margin-bottom: 50px;
    }
    .publicTextWrap{
        overflow: hidden;
        text-overflow: ellipsis;
        height: 200px;
    }
}

//기본정보
.info {
    margin: 50px 0;
    @include underLine;

    h3 {
        padding-bottom: 30px;
        border-bottom: 1px solid #555;
    }

    table {
        margin: 30px 0;
        width: 100%;
        text-align: left;
        font-size: 14px;
    }

    th {
        padding: 10px 20px;
        width: 30%;
    }

    td {
        color: #555;
    }
}

//리뷰
.klover {
    @include dFlex();

    small {
        font-size: 13px;
        color: #555;
        margin-right: 15px;
    }

    button {
        width: 110px;
        padding: 10px;
        background-color: $mainColor;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;

        &:hover {
            background-color: #2c2f64;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 18px;
            margin-right: 5px;
            @include backGround(url(../img/review.png), center)
        }

        ;
    }
}

//리뷰박스
.reviewBox {
    @include dFlex();
    background-color: #f2f2f2;
    margin: 20px 0;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 30px;
    height: 280px;
    position: relative;
}

//리뷰박스 왼쪽
.reviewLeft {
    width: 45%;

    p {
        text-align: center;

        img {
            width: 20px;
            height: 20px;
            vertical-align: middle;

            margin : {
                right: 5px;
                bottom: 5px;
            }
        }

        b {
            color: $green;
            font-size: 20px;
        }

        small {
            color: #555;
        }
    }

    .kloverPercent {
        @include dFlex();
        height: 30px;

        &:nth-child(2) {
            margin-top: 10px;

            .progress {
                background-color: $green;
            }
        }

        &:nth-child(3) {
            img {
                &:last-child {
                    opacity: 0.5;
                }
            }
        }

        &:nth-child(4) {
            img {

                &:last-child,
                &:nth-child(3) {
                    opacity: 0.5;
                }
            }
        }

        &:nth-child(5) {
            img {
                &:not(:first-child) {
                    opacity: 0.5;
                }
            }
        }

        span {
            width: 22%;
        }

        .progress {
            width: 60%;
            height: 8px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.1);
        }

        small {
            width: 15%;
            text-align: center;
            color: #555;
        }

        img {
            width: 15px;
            height: 15px;
            margin-right: 3px;
        }
    }
}

//리뷰박스 오른쪽
.reviewRight {
    width: 45%;

    &::before {
        content: "";
        width: 1px;
        height: 185px;
        background-color: rgba(0, 0, 0, 0.1);
        display: inline-block;
        position: absolute;
        left: 50%;
    }

    p {
        text-align: center;

        img {
            width: 18px;
            height: 18px;
            vertical-align: baseline;
            margin-right: 5px
        }

        b {
            color: $mainColor;
        }
    }
}

.replyListWrap {
    @include dFlex();
    height: 137px;

    .replyNum {
        font-size: 12px;
    }

    .numtt {
        background-color: #7175BE;
        color: #fff;
        border-radius: 20px;
        width: 40px;
        margin: 0 auto;
        padding-bottom: 2px;
        position: relative;

        &::after {
            content: "";
            width: 10px;
            height: 5px;
            @include backGround(url(../img/score.png), center);
            display: inline-block;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .contxt {
        color: $mainColor;
        font-weight: 500;
    }

    .replyList {
        width: 18%;
        text-align: center;
        font-size: 13px;
        margin-top: 15px;

        &:nth-child(2) {
            .meter {
                height: 17px;
            }
        }

        &:nth-child(3) {
            .meter {
                height: 17px;
            }
        }

        &:nth-child(4) {
            .percentBar {
                background-color: rgba(170, 173, 224, 0.575);
            }

            .meter {
                height: 33px;
                background-color: $mainColor;
            }
        }

        &:nth-child(5) {
            .percentBar {
                background-color: rgba(170, 173, 224, 0.575);
            }

            .meter {
                height: 33px;
                background-color: $mainColor;
            }
        }
    }
}

.replyPercent {
    width: 7px;
    height: 65px;
    margin: 10px auto;
    position: relative;

    .percentBar {
        position: absolute;
        width: 7px;
        height: 65px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .meter {
        position: absolute;
        width: 7px;
        border-radius: 5px;
        bottom: 0;
        background-color: #999;
    }

}

//리뷰 텍스트박스
.reviewText {
    width: 100%;
    margin: 50px 0;
}

.reviewTotal {
    @include underLine;
    padding: 30px 0;
}

.reviewTab {
    @include dFlex();
    @include underLine;
    height: 45px;

    .reviewNav {
        @include dFlex(20%, center, flex-start);

        li {
            width: 50%;
            height: 45px;

            a {
                display: inline-block;
                height: 100%;
            }
        }
    }
}

.reviewfont {
    border-bottom: 2px solid #555;
    font-weight: bold;
}

#rank {
    width: 15%;
    border-radius: 10px;
    padding-left: 5px;
    height: 35px;
    margin-bottom: 10px;
}

.reviewBoxTop {
    @include dFlex();
}

.user {
    @include dFlex(40%);

    li {
        font-size: 12.5px;
        color: #555;

        &:nth-of-type(1) {
            span {
                background-color: #7175be5e;
                padding: 1px 7px;
                border-radius: 15px;
            }
        }

        &:nth-of-type(2) {
            span {
                border: 1px solid #333;
                padding: 1px 7px;
                border-radius: 15px;
            }
        }
    }
}

.reviewBoxImg {
    .kloverImgBox {
        img {
            width: 15px;
            height: 15px;
            margin-right: 3px;
        }
    }

    span {
        color: $mainColor;

        font : {
            size: 14px;
            weight: 600;
        }

        &:nth-of-type(2) {
            font-size: 10px;
            color: #999;
            display: inline-block;
            margin-right: 5px;
        }

        &:nth-of-type(3)::before {
            content: "";
            width: 15px;
            height: 15px;
            display: inline-block;
            vertical-align: baseline;
            @include backGround(url(../img/quotes.png), center);
            margin-right: 5px;
        }
    }
}

.reviewBoxconment {
    margin: 20px 0;
    font-size: 13px;
}

.reviewBoxEmoji {
    text-align: right;

    span {
        font-size: 14px;
        margin-left: 10px;

        &:nth-of-type(1) {
            &::before {
                content: "";
                width: 20px;
                height: 20px;
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 5px;
                @include backGround(url(../img/like.png), center);
            }
        }

        &:nth-of-type(2) {
            color: #555;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 5px;
                @include backGround(url(../img/reply.png), center);
            }
        }
    }
}

.totalhide{
    display: none;
}

.reviewLast {
    margin-bottom: 50px;
    width: 100%;

    img {
        width: 100%;
        border-radius: 20px;
    }
}

//교환/반품/품절
.refundTitle {
    @include dFlex();
    @include underLine;
    height: 100px;

    button {
        width: 110px;
        height: 45px;
        padding: 10px;
        border-radius: 5px;

        &:nth-of-type(1) {
            background-color: #fefefe;
            border: 1px solid #999;
            &:hover {
                background-color: #5f65db11;
            }
        }

        &:nth-of-type(2) {
            background-color: $mainColor;
            border: none;
            font-weight: bold;
            color: white;


            &:hover {
                background-color: #2c2f64;
            }

            span {
                display: inline-block;
                vertical-align: text-bottom;
                width: 18px;
                height: 15px;
                @include backGround(url(../img/refund.png), center)
            }
        }
    }
}

#refund {
    margin-bottom: 100px;

    .refundDetail {
        @include underLine;
        padding: 30px 0;

        &:nth-last-child(1) {
            border: none;
        }

        h4 {
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            line-height: 30px;
        }

        ol {
            padding: 10px;

            li {
                padding: 0 5px;
                line-height: 30px;
                list-style: decimal;
                font-size: 14px;
            }
        }

        span {
            display: block;
            width: 100%;
            height: 80px;
            background-color: #eee;
            border-radius: 20px;
            padding: 30px;
            font-size: 13px;
            color: #555;
            margin: 20px 0;
        }
    }
}


//오른편
//기분좋은발견
.find {
    margin: 50px 0;
}

.Tit {
    height: 100px;
    @include dFlex();

    span {
        font-size: 14px;

        &::after {
            @include plus;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.find_good {
    width: 100%;
    height: 180px;

    .swiper-slide {
        padding: 10px;

        img {
            width: 93%;
            height: 100%;
            border-radius: 20px;
        }

    }
}

//이 분야의 베스트
.bestBook {
    @include dFlex($jc: flex-start);
    margin: 20px 0;

    img {
        border: 1px solid #ddd;
        height: 140px;
    }
}

.number {
    .bestTxt {
        span {
            &:nth-child(1) {
                background-color: $green;
            }
        }
    }
}

.bestTxt {
    margin-left: 15px;
    width: 50%;
    height: 130px;

    h5 {
        margin: 8px 0;
    }

    span {
        font-size: 13px;
        display: inline-block;

        &:nth-child(1) {
            background-color: #444;
            color: #fff;
            width: 23px;
            height: 23px;
            font-weight: bold;
            padding-top: 1px;
            text-align: center;
            border-radius: 7px 0 7px 0;
        }

        &:nth-child(4) {
            color: $green;
            font-weight: bold;
            margin-right: 10px;
        }
    }

    p {
        font-size: 14px;
    }

}

//배너
.banner1 {
    margin: 50px 0;

    img {
        width: 100%;
        height: 200px;
        border-radius: 20px;
    }
}

//이 분야의 신간
.newBook {
    @include dFlex($jc: flex-start);
    margin: 20px 0;

    img {
        border: 1px solid #ddd;
        height: 140px;
    }
}

.number {
    .newTxt {
        span {
            &:nth-child(1) {
                background-color: $green;
            }
        }
    }
}

.newTxt {
    margin-left: 15px;
    width: 50%;
    height: 100px;

    h5 {
        margin: 8px 0;
    }

    span {
        font-size: 13px;
        display: inline-block;

        &:nth-child(3) {
            color: $green;
            font-weight: bold;
            margin-right: 10px;
        }
    }

    p {
        font-size: 14px;
    }

}

//배너광고
.banner2 {
    margin: 50px 0;

    img {
        width: 100%;
        height: 180px;
        border-radius: 20px;
        margin: 10px 0;
    }
}

//픽스박스
.fixBox {
    bottom: 100px;
}

//상품금액
.priceBox {
    width: 100%;
    height: 80px;
    border-top: 1px solid #ddd;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 50;
    .container {
        @include dFlex(1260px);
        height: 80px;
    }
}
.totalPrice{
    font-size: x-large;
    small{
        margin-right: 20px;
    }
}

.fixbtnWrap {
    @include dFlex(57%);
}
.countBtn{
    @include dFlex(125px);
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    span{
        width: 30px;
        display: inline-block;
        cursor: pointer;
        img{
            width: 15px;
            height: 15px;
        }
    }
    
    input{
        width: 20px;
        font-size: 16px;
        border: none;
        margin-bottom: 3px;
        text-align: center;
    }
}
.heart {
    width: 50px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 14px;
    cursor: pointer;

    img {
        width: 19px;
        height: 22px;
    }
}

.gift {
    width: 125px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: #5f65db11;
    }

    img {
        width: 19px;
        height: 24px;
        vertical-align: text-bottom;
        margin-right: 5px;
    }

}

.fixCart {
    width: 125px;
    height: 55px;
    border: 1px solid $mainColor;
    border-radius: 10px;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    color: $mainColor;
    cursor: pointer;

    &:hover {
        background-color: #5f65db11;
    }
}

.direct {
    @include dFlex(250px);
    height: 55px;
    border: 1px solid $mainColor;
    border-radius: 10px;
    overflow: hidden;

    a {
        width: 50%;
        height: 55px;
        text-align: center;
        padding: 14px;
        font-weight: bold;

        &:nth-child(1) {
            background-color: #fff;
            color: $mainColor;

            &:hover {
                background-color: #5f65db11;
            }
        }

        &:nth-child(2) {
            background-color: $mainColor;
            color: #fff;

            &:hover {
                background-color: #2c2f64;
            }
        }
    }
}

