@charset "UTF-8";

$mainColor : #5055b1;
$bgColor : #f4f4f4;
$green : #6DB329;
$opacityB : rgba(0, 0, 0, 0.6);

@mixin shadow{
    box-shadow: 5px 5px 5px #999;}; 

@mixin backGround($url, $position: null) {
    background: {
        image: $url;
        position: $position;
        repeat: no-repeat;
        size: cover;
    }
}

@mixin dFlex($w: 100%, $ai: center, $jc: space-between) {
    display: flex;
    flex-wrap: wrap;
    width: $w;
    align-items: $ai;
    justify-content: $jc;
}

@mixin plus {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: {
        bottom: 1px;
        left: 5px;
    };
    @include backGround(url(../img/plus.png));
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin greenDot {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: $green;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    border-radius: 50%;
}

@mixin leftButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #999;
    display: inline-block;
    @include backGround(url(../img/left.png));
}

@mixin rightButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #999;
    display: inline-block;
    @include backGround(url(../img/right.png));
}


